<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>View Characters</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/webjars/js-cookie/js.cookie.js"></script>
</head>
<body>
<div th:replace="fragments/header"></div>
<h1>View characters</h1>
<p>Create a <a href="/createCharacterForm">new character</a></p>
<div th:each="character : ${characters}" id="characterList">
    <div class="bg-primary text-white m-2 p-2">
        <h2 th:text="${character.characterName}"></h2>
    </div>
</div>
</body>
</html>